<div class="powermail_fieldwrap powermail_fieldwrap_type_recaptcha powermail_fieldwrap_{field.marker} {field.css} {settings.styles.framework.fieldAndLabelWrappingClasses}">
	<f:render partial="Form/FieldLabel" arguments="{_all}" />

	<div class="{settings.styles.framework.fieldWrappingClasses}">
		<f:if condition="{settings.recaptcha.sitekey} != 'abcdef'">
			<f:then>
				<script src="//www.google.com/recaptcha/api.js?hl={settings.recaptcha.language}" async defer></script>
				<div id="powermail_field_{field.marker}" class="g-recaptcha" data-sitekey="{settings.recaptcha.sitekey}"></div>
			</f:then>
			<f:else>
				<p>
					Please register your domain to
					<a href="https://www.google.com/recaptcha/">https://www.google.com/recaptcha/</a>
					and enter your sitekey in TypoScript Constants like<br />
					plugin.tx_powermailrecaptcha.sitekey = abcdef
				</p>
			</f:else>
		</f:if>
	</div>
</div>
